* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* global settings */
a {
    text-decoration: none;

}
h1, h2 {
    font-size: 42px;
    margin: 32px 0;
}

.define_width {
    width: calc(100% - 300px);
    margin: 0 auto;
}
/* global settings */

nav {
    position: relative;
    background-color: #010101;
}

nav section {
    background-color:red;
    content: "";
    display: table;
    clear: both;
    line-height: 80px;
}

.logo {
    float: left;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
}

.navigation {
    float: left;
    position: relative;
    left: 50px;
    width: calc(80% - 100px);
    text-align: center; /* posizionato su .navigation ul li a  non funzionava*/
    
}

.navigation ul li {
    list-style-type: none;
    display: inline;
}

.navigation ul li a {
    display: inline-block;
    margin-right: 24px;
    color: #fff;

}

.login {
    float: right;
}

.login a {
    display: inline-block;
}

#main-banner-content {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;

}

#banner-text {
    position: absolute;
    top: 250px;
    left: 150px;
    padding: 0 200px;
    background-color: cornsilk;
    text-align: center;
}

#banner-text p {
    line-height: 24px;
}

#banner-text a {
    display: inline-block;
    padding: 24px 16px;
}

.space_area {
    padding: 80px 0;
}

#first-banner {
    content: "";
    display: table;
    clear: both;
    background-color:darkcyan;
}

.img-cont-sx {
    float: left;
}

.txt-cont {
    float: right;
    text-align: left;
    padding-top: 40px;
    width: 300px;
}
